<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
        <a href="/">Home</a>
        <a href="/About">About</a>

    </header>
    <main>
        {{content | safe}}
        <p>Happy Hacking.</p>
        {% if nextPost.url %}
            <p class="ctr">
            <strong>Next</strong>:
            <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
            </p>
        {% endif %}
        {% if prevPost.url %}
            <p class="ctr">
            <strong>Previous</strong>:
            <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
            </p>
        {% endif %}
    </main>
</body>
</html>